node_modules/
coverage/
.github/
.gitignore
CLAUDE.md
SECURITY.md
*.spec.ts
tsconfig.json
vitest.config.ts
tsup.config.ts
jest.config.ts
project.json
src/**/*.ts
plugin.ts
!src/**/*.d.ts
!src/**/*.json
!src/**/files/**
